.MediaIndicator {
  padding-right: 1%;

  &.DeEmphasize {
    opacity: 0.6;
  }
  
  &.StatusOnline {
    color: rgb(0, 255, 0);
  }
  
  &.StatusUnknown {
    color: #ccc;
  }

  &.StatusOffline {
    color: rgb(255, 0, 0);
  }
}